@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito Sans", sans-serif;

  --breakpoint-xs: 500px;

  --shadow-card: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  --shadow-card-hover: rgba(60, 64, 67, 0.3) 0px 1px 8px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  --color-overlay: rgba(0, 0, 0, 0.5);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .color {
    background: #e0ac00;
  }
  body {
    @apply font-nunito;
  }

  section {
    @apply w-full py-20 first-of-type:pt-24 last-of-type:p-0;
  }

  a {
    @apply inline-block;
  }
  /* Navbar */

  nav svg {
    @apply w-5 h-5;
  }

  nav li {
    @apply flex items-center m-2 relative cursor-pointer;
  }

  nav li a {
    @apply relative flex items-center text-sm uppercase py-1 overflow-hidden;
  }

  /* Footer */

  footer li {
    @apply text-gray-400;
  }

  footer li a {
    @apply my-1 text-sm md:text-base;
  }

  footer svg {
    @apply text-gray-400 w-4 h-4;
  }

  @keyframes pulse {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -135% 0%;
    }
  }
}

@layer utlities {
  .container {
    @apply min-w-full w-full xl:w-7xl xl:min-w-7xl px-4 mx-auto;
  }

  .ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  /* Headings */

  .heading-1 {
    @apply uppercase font-bold tracking-wider;
  }

  .heading-2 {
    @apply relative font-bold tracking-wide;
  }

  .heading-3 {
    @apply text-3xl md:text-4xl md:text-5xl font-bold;
  }

  /* body text */

  .body-text {
    @apply text-sm md:text-base tracking-wider;
  }
  .text-vertical {
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
  }

  /* butttons */

  .button-1 {
    @apply text-sm md:text-base font-bold uppercase py-3.5 px-7 text-white bg-black tracking-widest cursor-pointer hover:bg-black/85;
  }

  .button-2 {
    @apply text-sm md:text-base font-bold uppercase py-3.5 px-7 tracking-widest cursor-pointer bg-red-500 text-white hover:bg-red-500/85;
  }

  .button-3 {
    @apply bg-black text-white px-3.5 py-2 cursor-pointer font-black hover:bg-black/85; 
  }

  /* Navbar */

  .nav-link {
    @apply after:absolute after:content-[""] after:bottom-0 after:left-0 after:w-full after:h-1 after:bg-red-500 after:translate-x-[-101%] hover:after:translate-x-[0%] after:transition-transform after:duration-300 after:ease-in-out;
  }

  .active-nav-link {
    @apply before:absolute before:content-[""] before:bottom-0 before:left-0 before:w-full before:h-1 before:bg-red-500;
  }

  /* Home */

  .home-category-title {
    @apply absolute bottom-2 left-2 capitalize text-white font-bold text-lg sm:text-2xl;
  }

  .category-overlay {
    @apply absolute top-0 left-0 w-full h-full opacity-25 bg-black hover:opacity-50 transition-all duration-300 ease-in-out;
  }

  /* Form */

  .form-label {
    @apply flex flex-col relative;
  }

  .form-input,
  .form-input-2 {
    @apply outline-0 rounded-sm w-full border px-4 py-2.5 text-base cursor-pointer;
  }

  .form-label > .form-input:user-valid + span,
  .form-label > .form-input:user-invalid + span,
  .form-label > .form-input:focus + span {
    @apply -top-2 left-4 px-1 text-xs text-black;
  }

  .form-label > .form-input + span {
    @apply absolute top-2 left-6 text-gray-400 bg-white font-semibold capitalize transition-all duration-300 ease-in-out;
  }

  .form-label > .form-input-2 + span {
    @apply text-xs absolute -top-2 left-4 text-black bg-white font-bold capitalize transition-all duration-300 ease-in-out;
  }

  .form-error-msg {
    @apply text-red-500 pl-0.5 text-sm font-semibold mt-1;
  }

  /* Dashboard */

  .dashboard-card {
    @apply col-span-4 xs:col-span-2 lg:col-span-1 shadow-card p-4 flex hover:shadow-card-hover cursor-pointer transition-all duration-300 ease-in-out rounded-sm bg-white;
  }

  .list-head {
    @apply text-xs sm:text-sm text-gray-500 uppercase;
  }

  .list-body {
    @apply text-xs md:text-sm text-black;
  }

  /* Pagination */

  .pagination-btn {
    @apply w-10 h-10 text-sm lg:text-base border border-black cursor-pointer font-medium rounded-sm;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide{
    margin: 16px 12px 16px 4px;
  }
}
